<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BugShowDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0639B56A1C029B89009BF04F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0639B5831C029B89009BF04F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0639B58E1C029B8A009BF04F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
